<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<security>
			<requestFiltering>
				<hiddenSegments>
					<add segment=".git" />
					<add segment=".vscode" />
				</hiddenSegments>
				<fileExtensions>
					<add fileExtension=".php" allowed="false" />
					<add fileExtension=".bak" allowed="false" />
					<add fileExtension=".old" allowed="false" />
					<add fileExtension=".orig" allowed="false" />
					<add fileExtension=".save" allowed="false" />
					<add fileExtension=".tmp" allowed="false" />
					<add fileExtension=".log" allowed="false" />
					<add fileExtension=".sql" allowed="false" />
					<add fileExtension=".zip" allowed="false" />
					<add fileExtension=".tar" allowed="false" />
					<add fileExtension=".gz" allowed="false" />
					<add fileExtension=".7z" allowed="false" />
					<add fileExtension=".rar" allowed="false" />
					<add fileExtension=".py" allowed="false" />
					<add fileExtension=".ps1" allowed="false" />
					<add fileExtension=".md" allowed="false" />
					<add fileExtension=".txt" allowed="false" />
				</fileExtensions>
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
